<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ldzs.pulltorefreshrecyclerview">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListActivity" />
        <activity android:name=".ui.adapter.HeaderAdapterActivity" />
        <activity android:name=".ui.adapter.DynamicAdapterActivity" />
        <activity android:name=".ui.recyclerview.PullToRefreshActivity" />
        <activity android:name=".ui.recyclerview.GridPullToRefreshActivity" />
        <activity android:name=".ui.recyclerview.PullToRefreshExpandActivity" />
        <activity android:name=".ui.adapter.TreeAdapterViewActivity" />
        <activity android:name=".ui.drag.LinearDragActivity" />
        <activity android:name=".ui.drag.GridDragActivity" />
        <activity android:name=".ui.drag.DynamicDragActivity" />
        <activity android:name=".ui.drag.CustomDragActivity" />
        <activity android:name=".ui.adapter.CursorAdapterActivity" />

        <provider
            android:authorities="com.ldzs.pulltorefreshrecyclerview"
            android:name=".provider.InfoProvider"
            android:exported="false"/>
    </application>

</manifest>
